.home-content{
    padding-top: 2em;
    text-align:center;
    margin-bottom: 2em;
}
div#container{
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}
div.hot-data{
    background-color: #fff;
}

div.box-main{
    background-color: #4c4868;
    padding:2em 3em;
}

div.lianxi{
    background-color: #524d70;
    height:150px;
    padding:50px;
    border-bottom: 1px solid #4c4868;
}
