{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}
    我的网站|首页
{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static "css/home.css"%}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %} 
{% block nav_home_active%}
active
{% endblock%}
{% block content %}
<div class="site-wrapper">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div>
    <h3 class="home-content">欢迎访问我们的网站 随便看</h3>
    <div id="container" ></div>
    
    <div class="row">
        <div class="col-sm">   
            <div class="card mx-auto bg-light center mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">今天热门点击文章</h5>
                        <p class="card-text">            
                            <ul class="list-inline">
                                {% for hot_data in today_hot_data %}
                                    <li><a class="card-link" href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title}}</a>({{ hot_data.read_num}})</li>
                                    
                                {%empty%}
                                    <li>今天没有热门博客</li>
                                {%endfor%}
                            </ul>
                        </p>
                    </div>
            </div> 

        </div>
    <div class="col-sm">
        <div class="card mx-auto bg-light center mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">昨天热门点击文章</h5>
                    <p class="card-text">            
                        <ul class="list-inline">
                            {% for hot_data in yesterday_hot_data %}
                                <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title}}</a>({{ hot_data.read_num}})</li>
                                
                            {%empty%}
                                <li>昨天没有热门博客</li>
                            {%endfor%}
                        </ul>
                    </p>
                </div>
        </div> 
    </div>
    <div class="col-sm">
        <div class="card mx-auto bg-light center mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">一周热门点击文章</h5>
                    <p class="card-text">            
                        <ul class="list-inline">
                            {% for hot_blog in hot_blogs_for_7_days %}
                                <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title}}</a>({{ hot_blog.read_num_sum}})</li>
                                
                            {%empty%}
                                <li>一周内没有热门博客</li>
                            {%endfor%}
                        </ul>
                    </p>
                </div>
        </div> 
    </div>
</div>


    <script>
        // 图表配置
        var options = {
            chart: {type: 'line'},
            title: {text: null},
            xAxis: {
                categories: {{dates|safe}},
                tickmarkPlacement: 'on',
                title:{text:'七日阅读量变化'}
            },
            yAxis: {
                title: {text: null },
                labels:{enabled:false},
                gridLineDashStyle:'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data:{{ read_nums }}
            }],
            plotOptions:{
                line:{
                    dateLabels:{
                        enabled:true
                    }
                }
            },
            legend : {enabled:false},
            credits : {enabled:false},
        
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}